* {
    font-family: 'Open Sans';
    margin: 0;
}

/* Text Colors */
.text-primary {
    color: #FD6E0A;
}

/* Buttons */
.btn-primary {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
}

.btn-primary-border {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    background-color: #fd6f0a00;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    margin-left: 30px;
}

/* Header & Nav Styles */
header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;


}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    color: #474747;
}

/* Hero Section Styles */
.hero-section {
    margin: 0 100px 0 200px;
    display: flex;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.hero-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.hero-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* Main Section Styles */
main section {
    margin: 130px auto;
    width: 1140px;
}

/* About Section Styles */
.about-section {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-info-title {
    font-size: 20px;
    color: #757575;
}

.about-info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* Skills Section Styles */


.skills-section .section-description {
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}

.skill-description {
    color: #757575;
}

/* Resume Styles */
.resume-content {
    display: flex;
    column-gap: 70px;
    justify-content: space-between;
}

.resume-item {
    margin-bottom: 30px;
}

.resume-title {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;

}

.item-title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.item-sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.item-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}